@model StatisticsOutputModel

<div class="jumbotron mt-5">
    <h1 class="display-4 text-center">@Model.TotalReports Pets Reports | @Model.TotalFoundPets Found Pets | @Model.TotalLostPets Lost Pets</h1>
</div>